/* BODY */
body{
	font-family: 'Livvic', sans-serif;
}
.monospace{
	font-family: monospace;
}

/* HEADER */

header {
	background: 
		linear-gradient(rgba(0, 98, 204, 0.9),rgba(0, 98, 204, 0.35)),
		url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress') no-repeat center/cover fixed;
}

header .navbar {
	background: rgba(0,0,0,.5);
	border-bottom: 5px solid rgba(0,0,0,.3);
	padding-bottom: 5px;
}

.circlemenu {
	height: 15px;
	width: 15px;
}

.cardimagem {
	background: 
		linear-gradient(rgba(220, 53, 69, 0.5),rgba(220, 53, 69, 0.5)),
		url('https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg') no-repeat center/contain;
	padding-top: 66.66%;
}

.design-web {
	background: url('/img/designdark.png') no-repeat center/contain;
}

.design-img {
	background: url('/img/gallerydanger.png') no-repeat center/contain;
}

.border-flat {
	border-bottom: 5px solid rgba(0,0,0,.3);
}